body {
    background-image: url('img/bg.png');
    text-align: center;
    font-family: monospace;
    font-size: 15px;  
    color: bisque;
}

.container,
footer {
    max-width: 350px;
    margin: 10px auto;
    background: rgba(85, 85, 90, 0.9);
    padding: 20px 0;
    border-radius: 10px;
}   

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 15px;
    letter-spacing: 0.9px;
    padding: 0 15px;
}

input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #999;
    margin: 10px;
}

::placeholder {
    color: #999;
    text-align: center;
    font-family: monospace;
}

button {
    display: block;
    margin: 20px auto;
    box-shadow: 0 5px #999;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: bisque;
    color: black;
    cursor: pointer;
    font-size: 24px;
    padding: 15px 15px;
}

button:hover {
    background-color: grey; 
    color: bisque;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px #666;
    background-color: rgb(85, 85, 90);   
}

.title-ball {
    position: absolute;
    top: 12%;
    left: 53%;
    width: 50px;
    height:50px;    
}